AUTHENTICATION_DATABASE=admin
DATABASE_HOST=mongo
DATABASE_NAME=impulsesieve
DATABASE_PASSWORD=secretsauce
DATABASE_PORT=27017
DATABASE_SRV=false
DATABASE_SSL=false
DATABASE_USERNAME=impulsesieve

MONGO_INITDB_DATABASE=impulsesieve
MONGO_INITDB_ROOT_PASSWORD=secretsauce
MONGO_INITDB_ROOT_USERNAME=impulsesieve

HOST=api.impulsesieve.art
PORT=1337